body {
    margin: 0;
    overflow: hidden;
    cursor: none;
}

#fly {
    position: absolute;
    width: 70px;
    height: 70px;
    background: url('mosca.png') no-repeat center center;
    background-size: cover;
    pointer-events: none;
    transform: rotate(-30deg);
}
html, body, button, a, input {
    cursor: none;
}
