body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul claro */
    color: #00274d; /* Azul escuro */
    margin: 0;
    padding: 20px;
}

h1 {    
    margin-left: 300px;
    text-align: left;
    color: #004080; /* Azul forte */
}

form {
    margin-top:100px;
    margin-left: 300px;
    text-align: left;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input[type="text"] {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #004080;
    border-radius: 4px;
    width: 300px;
}

/* Estilos para o botão */
button {
    font-size: 16px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #004080;
    border: 1px solid #003060;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #00509e;
}

button:active {
    background-color: #003060;
    transform: scale(0.98);
}

div {
    margin-left: 300px;
    margin-top: 20px;
    text-align: left;
}

h3 {
    color: #00509e; 
}

#solution {
    margin-top: 10px;
    font-size: 18px;
    color: #003060;
}

#rivn {
    font-size: 20px;
    color: #004080;
    font-weight: bold;
    margin-top: 10px;
}
